{
  "extends": "eslint:recommended",
  "rules": {
    "no-console": 0,
    "no-prototype-builtins": 0
  },
  "env": {
    "commonjs": true,
    "node": true
  },
  "globals": {
    "Promise": true,
    "Set": true
  }
}
